<div class="col-sm">
  <div class="jumbotron" style="margin-top: 3rem">
    <h1 class="display-4">Event Handler</h1>
    <p class="lead">
      RxJS provides factory methods to bridge with existing asynchronous sources in the DOM or Node.js
      so that you can employ the rich composing, filtering and resource management features provided by RxJS
      on any kind of data streams. This topic examines the fromEvent and fromEventPattern operator that
      allows "importing" a DOM or custom event into RxJS as an observable sequence. Every time an event
      is raised, an onNext message will be delivered to the observable sequence. You can then manipulate
      event data just like any other observable sequences.
    </p>
    <hr class="my-4">
    <p>Here are some RxJS methods for Events:</p>
    <ul>
      <li>fromEvent</li>
      <li>fromEventPattern</li>
    </ul>
  </div>
</div>
