<div class="col-sm">
  <div class="jumbotron" style="margin-top: 3rem">
    <h1 class="display-4">State Management</h1>
    <p class="lead">
      NgRx is a framework for building reactive applications in Angular.
      NgRx is inspired by the Redux pattern - unifying the events in your application and deriving state using RxJS
    </p>
    <hr class="my-4">
    <p>The NgRx state management process is a combination of five key elements:
      <a href="https://www.syncfusion.com/blogs/post/angular-state-management-ngrx.aspx" target="_blank">
        https://www.syncfusion.com/blogs/post/angular-state-management-ngrx.aspx</a></p>
    <ul>
      <li>Store</li>
      <li>Selectors</li>
      <li>Reducers</li>
      <li>Actions</li>
      <li>Effects </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm">

    </div>
  </div>
</div>
