<div class="col-sm">
  <div class="jumbotron" style="margin-top: 3rem">
    <h1 class="display-4">State Management</h1>
    <p class="lead">
      With RxJS, you can create streams of data that different parts of your app can use.
      RxJS also helps you break down your app into smaller pieces. That way, it's easier to keep everything
      organized and find what you need.
    </p>
    <hr class="my-4">
    <p>The NgRx state management process is a combination of five key elements:
      https://www.syncfusion.com/blogs/post/angular-state-management-ngrx.aspx</p>
    <ul>
      <li>Store</li>
      <li>Selectors</li>
      <li>Reducers</li>
      <li>Actions</li>
      <li>Effects </li>
    </ul>
  </div>
</div>
