<div class="col-sm">
  <div class="jumbotron" style="margin-top: 3rem">
    <h1 class="display-4">Websockets</h1>
    <p class="lead">
      Typically, socket.io is used to build a real-time JS server and client.
      In this walk-through, we will be focussing on the client part, and RxJS would be a great choice.
      We can also make our JS application more reactive by leveraging other RxJS operators when handling
      WebSocket connections.
    </p>
    <hr class="my-4">
    <p>Here are some RxJS methods for websockets:</p>
    <ul>
      <li>webSocket</li>
      <li>WebSocketSubject</li>
      <li>WebSocketSubjectConfig</li>
    </ul>
  </div>
</div>
