<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="favicon.ico"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="nav-link navigationItem" (click)="navigateToPage('')">
          Home <span class="sr-only">(current)</span>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          RxJS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-item navigationItem" (click)="navigateToPage('http')">Http</div>
          <div class="dropdown-item navigationItem" (click)="navigateToPage('http')">Event handler</div>
          <div class="dropdown-item navigationItem" (click)="navigateToPage('http')">State management</div>
          <div class="dropdown-item navigationItem" (click)="navigateToPage('http')">Web sockets</div>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  <div class="row">
<!--    <div class="carousel col-sm" style="width: 750px;">-->
<!--      <app-carousel></app-carousel>-->
<!--    </div>-->
    <router-outlet></router-outlet>
  </div>
</div>
<footer style="position: absolute">
  Copyright 2024
</footer>
