<div class="col-sm">
  <div class="jumbotron" style="margin-top: 3rem">
    <h1 class="display-4">Introduction</h1>
    <p class="lead">
      RxJS (Reactive Extensions for JavaScript) is a powerful library that allows developers
      to handle asynchronous data streams in a functional and efficient way. In Angular, it is extensively
      used to handle data streams from various sources, such as user input, HTTP requests, and WebSockets.
    </p>
    <hr class="my-4">
    <p>Let's take a look on how RxJS can be used in an Angular web application.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://angular.io/guide/rx-library" target="_blank"
         role="button">Angular Documentation</a>
      &nbsp;
      <a class="btn btn-success btn-lg" href="https://rxjs.dev/guide/overview" target="_blank"
         role="button">RxJS Documentation</a>
    </p>
  </div>
</div>
